.card{
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 8px;
    width: 20%;
    min-width: 150px;
    margin: 2%;
}
.card-image {
    display: block;
    padding:10px 10px;
    width: 80%;
}

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.like-btn {
    background-color: #4CAF50;
    border-radius: 8px;
    color: black;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .del-btn {
    background-color: crimson;
    border-radius: 8px;
    color: black;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
  }

